<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="menu.css" type="text/css">

</head>

<body>
    <div>
        <ul id="list1">
            <li class="active">Home</li>
            <li>Menu 1</li>
            <li id="menu2">Menu 2
                <ul id="lista2">
                    <li>Sub Menu 1</li>
                    <li>Sub Menu 2</li>
                    <li>Sub Menu 3</li>
                </ul>

            </li>
            <li>Menu 3</li>
        </ul>
    </div>



</body>

</html>